/* userchrome.css */

/* ********************************************************* */
/* !!!!              REMOODS THEME SECTION              !!!! */
/* ********************************************************* */
/* ReMoods theme font settings ============================= */

:root {

  /* EDIT FOR: MARKDOWN EDITOR */
  
  --usp-base-font: "mulish", "montserrat", "chiron hei hk extralight" !important;
  --usp-monospace-font: "cascadia mono light", "chiron hei hk extralight" !important;
  --usp-headings-font: "montserrat", "mulish", "chiron Hei HK" !important;

  --usp-base-font-size: 15px !important;
  --usp-monospace-font-size: 14px !important;

  --usp-h1-font-size: 200% !important;
  --usp-h2-font-size: 170% !important;
  --usp-h3-font-size: 150% !important;
  --usp-h4-font-size: 130% !important;
  --usp-h5-font-size: 120% !important;
  --usp-h6-font-size: 110% !important;

}

/* Stay Joplin's starting screen consistent with the theme background color, you don't have to edit it */
body {
  background-color: var(--code-mirror-bg-color) !important;
}

/* ********************************************************* */
/* !!!!               CUSTOM CODE SECTION               !!!! */
/* ********************************************************* */
/* You can add any custom code below for personal use ====== */
